@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  font-family: "Anton" !important;
}

body {
  background: #0c0b3f url('./assets/Prancheta\ 1\ 2.png') center center !important;
  height: 100vh;
  color: #fff !important
}

.header-icon img {
  width: 100px;
  height: 100px;
}

.beje {
  background: #999933 !important;
  border-radius: 20px;
  border: 3px solid #FFF !important;
  width: 180px;
  height: 64px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff !important;
  margin: 10px;
}

#nome-torneio {
  width: 600px;
  height: 60px;
  background: #d9d9d9;
  border-radius: 16px;
  padding: 10px;
  font-size: 30px;
}

#nome-torneio::-webkit-input-placeholder {
  font-size: 30px;
}

#data-torneio {
  width: 300px;
  height: 60px;
  margin-top: 16px;
  background: #d9d9d9;
  border-radius: 16px;
  padding: 8px;
  font-size: 20px;
  color: grey;
}

#data-torneio:active {
  color: #000;
}

#nome-jogador {
  width: 600px;
  height: 60px;
  background: #d9d9d9;
  border-radius: 16px;
  padding: 10px;
  font-size: 30px;
}

#nome-jogador::-webkit-input-placeholder {
  font-size: 30px;
}

.lista-jogadores {
  flex-wrap: wrap;
  font-size: 30px;
}

.partida-card{
background: #663366;
border-radius: 20px;
}
.result{
  display: flex;
  justify-content: space-between;
}
tr:nth-child(1){
  background: rgba(255, 255, 255, 0.1)!important;
}


tr:nth-child(-n+4){
  background: rgba(0, 255, 0, 0.25);
}

tr{
  background: rgba(255, 255, 255, 0.1);
}

tr:nth-last-child(-n+3){
  background: rgba(255, 0, 0, 0.25);
}

td,th{
  font-weight: normal;
  padding: 10px;
  border: 5px solid #FFFFFF;
  border-radius: 0px 0px 8px 8px;
}

button:hover {
  background: none !important;
}